/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 20px;
}

#game-container {
    max-width: 600px;
    margin: auto;
}

#score, #streak {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#hangman-container {
    position: relative;
    height: 200px;
    margin-bottom: 20px;
}

.hangman-part {
    display: none;
    position: absolute;
    background-color: #000;
}

#hangman-container #gallows {
    width: 10px;
    height: 150px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

#hangman-container #head {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

#hangman-container #body {
    width: 10px;
    height: 50px;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}

#hangman-container #left-arm {
    width: 50px;
    height: 10px;
    left: calc(50% - 30px);
    top: 70px;
    transform: rotate(-45deg);
}

#hangman-container #right-arm {
    width: 50px;
    height: 10px;
    right: calc(50% - 30px);
    top: 70px;
    transform: rotate(45deg);
}

#hangman-container #left-leg {
    width: 50px;
    height: 10px;
    left: calc(50% - 30px);
    bottom: 0;
    transform: rotate(45deg);
}

#hangman-container #right-leg {
    width: 50px;
    height: 10px;
    right: calc(50% - 30px);
    bottom: 0;
    transform: rotate(-45deg);
}

#word-display {
    font-size: 2em;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#letters button {
    margin: 2px;
    padding: 10px;
    font-size: 1em;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #000;
    background-color: #f0f0f0;
}

#wrong-guesses {
    margin-top: 20px;
    font-size: 1em;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: left;
    text-align: justify;
}

.modal-content ul {
    list-style-type: none; /* Remove bullets from the list */
    padding-left: 0; /* Remove default padding */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
